
.home-heading{
    color: black;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    .home-heading{
        font-size: 28px;
    }
}

.home-description{
    color: rgb(14, 11, 11);
    text-align: left;
}

@media screen and (min-width: 576px) {
    .home-description{
        font-size: 18px;
    }
}


.explore-button{
    color: white;
    background-color: black;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

@media screen and (min-width:576px) {
    .explore-button{
        padding: 13px;
    }
}

.home-sub-container{
    padding: 20px;
    height: 60vh;
    

}

@media screen and (min-width:576px) {
     .home-sub-container{
        padding-left: 30px;
     }
}